@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.busca-cep {


    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    input {
        display: flex;
        margin: 10px 115px;
        justify-content: center;
        align-items: center;

    }

}

.myButton {

    display: flex;
    margin: 10px 150px;
    justify-content: center;
    align-items: center;

        background-color:#f9f9f9;
        border-radius:2px;
        border:2px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color:#666666;
        font-size:15px;
        text-decoration:none;
        text-align: center;
    }
    .myButton:hover {
        background-color:#e9e9e9;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

        

.logo {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;

    img {
        width: 120px;
        margin-top: 10px;
 

    }
}

.results {

    color: #ffff;
    margin-left: 30%;

}

.container {
    border-radius: 3%;
    margin-bottom: 100px;
    width: 400px;
    height: 410px;
    background-image: linear-gradient(to right top, #221b56, #272667, #2b3279, #2d3e8b, #2e4b9e, #2054a2, #115ca5, #0064a7, #006695, #00657f, #0e616a, #315c59);
}

